*:not(.ace_editor) {
  font-family: sans-serif;
}

span {
  color: white;
}

.container {
  background-color: black;

  position: absolute;
  left: 0;
  top: calc(100vw / 100);
  width: calc(100vw - 16px);
  height: calc(100vh - 16px - (100vw / 100));
  gap: 16px;
  padding: 8px;
  display: flex;
  align-items: stretch;
}

.file-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.editor {
  border: 2px solid rgb(70, 70, 70);
  font-size: 1rem;
  flex-grow: 1;
  min-width: 75vw;
  overflow: scroll;
}

.documentation {
  color: #c5c8c6;
  background-color: #1d1f21;
}

button,
input {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  padding: 8px;
}

button:hover {
  cursor: pointer;
}

.audio-row button {
  margin: 0.25rem;
}

input {
  padding-top: 4px;
  padding-bottom: 4px;
}

label,
h1 {
  font-family: sans-serif;
  color: white;
}

h1 {
  font-size: x-large;
  margin-bottom: 8px;
}

.error {
  color: crimson;
}

.bottom-buttons {
  position: absolute;
  left: 8px;
  bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}

.separator {
  border-bottom: 1.5px dotted gray;
  height: 0;
  margin: 0.5rem;
  width: 100%;
}

.preview {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  aspect-ratio: 100 / 1;
}
