* {
  color: white;
  font-family: sans-serif;
}

.container {
  background-color: black;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

button,
input {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px;
}

button:hover {
  cursor: pointer;
}

input {
  padding-top: 4px;
  padding-bottom: 4px;
}

.script-button {
  border-bottom: 2px solid black;
  transition-duration: 0.2s;
  margin: 8px;
}

.script-button:hover {
  cursor: pointer;
  border-bottom: 2px solid white;
}

.script-button-container {
  font-size: large;
}

.trash-button:hover {
  cursor: pointer;
}

.bottom-buttons {
  position: absolute;
  left: 8px;
  bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: start;
}
